---
import Card from '../Card.astro'
import { Badge } from '../ui/badge'
import { CERTIFICATIONS } from '../../lib/constants'
---

<Card
  colSpan="md:col-span-1"
  rowSpan="md:row-span-2"
>
  <div class="flex h-full w-full flex-col">
    <h1 class="text-2xl font-bold">🌐 Certifications </h1>
    <p class="text-sm text-gray-600 dark:text-gray-400">
      I have completed the following certifications to improve my skills and knowledge
    </p>
    <br/>
    <div class="mt-2 flex w-full flex-wrap items-center justify-center gap-2">
      {
        CERTIFICATIONS.map((study) => (
          <a href={study.link} target="__blank">
            <Badge variant="outline">{study.title}</Badge>
          </a>
        ))
      }
    </div>
    </div>
</Card>
