---
import Card from '../Card.astro'
import { EXPERIENCE } from '../../lib/constants'
import { Button } from '../ui/button'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
<div class="h-full">
<header class="flex items-center">
    <h1 class="text-xl font-bold text-foreground">
        🤝 Experience
    </h1>
  </header>
  <br/>
<div class="mt-4 flex w-fit flex-col">
    {
      EXPERIENCE.slice(0, 4).map((exp) => (
        <div>
          <p class="text-lg">{exp.position}</p>
          <a class="text-sm text-primary" href={exp?.link ?? ''}>
            {exp.company}
          </a>
          <p class="text-sm text-gray-600">
            {exp.start} - {exp.end}
          </p>
        </div>
      ))
    }
  </div>
  <a href="/update">
    <Button variant="link" className="pl-0"> View More </Button>
  </a>
</div>
</Card>
