---
import Card from '../Card.astro'
import { Button } from '../ui/button'
import Pulse from '../Pulse.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1" title="ðŸ› ï¸ Service Status">   
  <span class="text-sm text-gray-600 dark:text-gray-400">Check the status of this website as well as my projects</span>
  <br/>
  <br/>
  <a href="https://statusdashboard.betteruptime.com/" class="mt-2 flex w-full flex-wrap items-center justify-center gap-2" >
    <Button variant="outline" className="text-sm text-green-600 dark:text-green-400"> <Pulse/> &nbsp; Operational</Button>
  </a>
</Card>
