---
import Layout from "../layouts/Layout.astro";
import { EDUCATION } from "../lib/constants";
---

<script>
  import { timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../lib/constants";

  const sequence = [loaderAnimation];

  timeline(sequence as TimelineDefinition);
</script>

<Layout title="Alvin Dennis II Portfolio" description="Education">
  <main
    class="w-screen h-screen flex flex-col justify-start items-start max-w-3xl mx-auto p-8"
  >
  <a
  href="/"
  class="fixed text-white bg-neutral-900 hover:bg-neutral-800 px-4 py-2 mb-8 border border-solid border-neutral-600 rounded-lg"
>
  Back
</a>
<br />
<br />
    <h1 class="text-4xl font-bold mb-4 text-neutral-100 text-center w-full">
      Education
    </h1>
    <ul class="w-full">
      {
        EDUCATION.map((edu) => (
          <li class="mb-4">
            <div>
              <p class="text-lg text-primary-500">{edu.position}</p>
              <a class="text-sm text-white" href={edu?.link ?? ""}>
                {edu.name}
              </a>
              <p class="text-sm text-white">
                {edu.start} - {edu.end}
              </p>
            </div>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
