---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card/index.astro";
import SkillsCard from "../components/Skills.astro";
import EducationCard from "../components/EducationCard.astro";
import ExperienceCard from "../components/ExperienceCard.astro";
import TimeZone from "../components/TimeZoneCard.astro";
import AboutMe from "../components/AboutMe.astro";
import CurrentlyCard from "../components/CurrentlyCard.astro";
---

<script>
  import { stagger, spring, timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../lib/constants";
  const cards = document.querySelectorAll(".card");

  const sequence = [
    loaderAnimation,
    [
      cards,
      { y: ["40%", "0%"], opacity: [0, 1] },
      {
        at: "-0.1",
        duration: 0.4,
        delay: stagger(0.3),
        easing: spring({ velocity: 100, stiffness: 50, damping: 10 }),
      },
    ],
  ];

  timeline(sequence as TimelineDefinition);
</script>

<Layout title="Alvin Dennis II Portfolio" description="Portfolio Website">
  <main
    class="text-white m-auto p-2 grid gap-2 max-w-6xl overflow-hidden relative w-full sm:p-4 sm:gap-2 md:grid-cols-2 md:gap-3 md:p-6 lg:h-screen lg:grid-rows-8 lg:grid-cols-4 lg:gap-4 lg:max-h-[800px]"
  >
    <AboutMe />
    <SkillsCard />
    <EducationCard />
    <TimeZone />
    <CurrentlyCard />
    <Card
      colSpan="md:col-span-1"
      rowSpan="md:row-span-1"
      title="💡 My Projects"
      href="/projects"
    />
    <ExperienceCard />
    <Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
      <p class="text-xs">
        © 2024 · Crafted with ❤️ using <a
          href="https://github.com/alvin-dennis"
          target="_blank"
          class="text-primary-500">Astro</a
        > by Alvin Dennis.
      </p>
    </Card>
  </main>
</Layout>
