@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --text-xs: 0.875rem;
  --text-xs--line-height: 1.125rem;
  --text-sm: 1rem;
  --text-sm--line-height: 1.25rem;
  --text-base: 1.125rem;
  --text-base--line-height: 1.625rem;
  --text-lg: 1.25rem;
  --text-lg--line-height: 1.75rem;
  --text-xl: 1.5rem;
  --text-xl--line-height: 1.813rem;
  --text-2xl: 1.75rem;
  --text-2xl--line-height: 2.125rem;
  --text-3xl: 2rem;
  --text-3xl--line-height: 2.375rem;
  --text-4xl: 2.25rem;
  --text-4xl--line-height: 2.688rem;
  --text-5xl: 2.5rem;
  --text-5xl--line-height: 3rem;
  --text-6xl: 3rem;
  --text-6xl--line-height: 3.625rem;
  --text-7xl: 3.75rem;
  --text-7xl--line-height: 1;
  --text-8xl: 4.5rem;
  --text-8xl--line-height: 4.875rem;
  --text-9xl: 6rem;
  --text-9xl--line-height: 6.625rem;

  --animate-slide-in: slide-in 600ms ease both;

  @keyframes slide-in {
    10% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0);
    }
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: #1a1a1a;
  --foreground: #d1d1c7;
  --card: #151501;
  --card-foreground: #d1d1c7;
  --popover: #151501;
  --popover-foreground: #fefefe;
  --primary: #e1d816;
  --primary-foreground: #1a1a1a;
  --secondary: #9c9723;
  --secondary-foreground: #1a1a1a;
  --muted: #3c3a05;
  --muted-foreground: #9c9723;
  --accent: #605c00;
  --accent-foreground: #e1d816;
  --destructive: #b91c1c;
  --destructive-foreground: #ffffff;
  --border: #3c3a05;
  --input: #576066;
  --ring: #e1d816;
  --chart-1: #e1d816;
  --chart-2: #9c9723;
  --chart-3: #605c00;
  --chart-4: #3c3a05;
  --chart-5: #151501;
  --sidebar: #151501;
  --sidebar-foreground: #d1d1c7;
  --sidebar-primary: #e1d816;
  --sidebar-primary-foreground: #0a0a0a;
  --sidebar-accent: #3c3a05;
  --sidebar-accent-foreground: #e1d816;
  --sidebar-border: #3c3a05;
  --sidebar-ring: #e1d816;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-nougat);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-black text-primary leading-tight;
  }

  h2 {
    @apply text-2xl sm:text-3xl md:text-4xl font-bold text-primary leading-snug;
  }

  h3 {
    @apply text-xl md:text-2xl font-semibold text-primary;
  }

  h4 {
    @apply text-lg font-semibold text-primary;
  }

  h5,
  h6 {
    @apply text-base font-medium text-primary;
  }

  p {
    @apply text-base leading-relaxed;
  }
}