---
import Card from "./Card/index.astro";
import { EDUCATION } from "../lib/constants";
---

<Card
  colSpan="md:col-span-1"
  rowSpan="md:row-span-4 flex gap-4"
  title="🎓 Education"
  href="/education"
>
  <br />
  <div class="mt-2 space-y-4">
    {
      EDUCATION.slice(0, 1).map((exp) => (
        <div>
          <p class="text-lg text-primary-500">{exp.position}</p>
          <p class="text-white-500">{exp.name}</p>
          <p class="text-white-500">
            {exp.start} - {exp.end}
          </p>
        </div>
      ))
    }
  </div>
</Card>
