---
interface Props {
  text: string;
  href: string;
}

const { text, href } = Astro.props;
---

<section id={href} class="py-24">
  <h2
    class="mb-14 font-serif text-4xl font-bold tracking-tighter text-white md:text-5xl"
  >
    {text}
  </h2>
  <slot />
</section>
