---
import { SlideTabs } from "@/components/ui/slide-tabs";

import { BlurFade } from "@/components/ui/blur-fade";

import "@/styles/global.css";

const BLUR_FADE_DELAY = 0.04;
---

<main
  class="flex min-h-screen w-full items-center justify-center bg-white px-4 text-black sm:px-6 md:px-8 dark:bg-neutral-950 dark:text-white"
>
  <div
    class="grid min-h-screen w-full max-w-5xl place-content-center bg-white px-2 sm:px-4 md:px-6 dark:bg-black"
  >
    <BlurFade client:load delay={BLUR_FADE_DELAY * 3}>
      <SlideTabs client:load />
    </BlurFade>
  </div>
</main>
