---
import Layout from "@/layouts/ProjectLayout.astro";
import Section from "@/components/Section.astro";
import { SITE_CONTENT } from "@/lib/constants";
import Projects from "@/components/ui/project-tabs";
---

<Layout>
  <div class="mb-1 flex justify-center text-center">
    <Section href="/projects" text="My Projects & Contributions" />
  </div>
  <Projects client:visible projects={SITE_CONTENT.projects} />
</Layout>
